In [8]:
import pandas as pd
import numpy as np
r_cols=['user_id','movie_id','rating']
ratings=pd.read_csv('u.data.csv',sep='\t',names=r_cols,usecols=range(3))
m_cols=['movie_id','title']
movies=pd.read_csv('u.item.csv',sep='|',names=m_cols,usecols=range(2))
ratings=pd.merge(movies,ratings)

In [2]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [3]:
movieRatings=ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

In [4]:
AngryMen=movieRatings['12 Angry Men (1957)']
AngryMen.head(10)

user_id
1     5.0
2     NaN
3     NaN
4     NaN
5     NaN
6     4.0
7     4.0
8     NaN
9     NaN
10    5.0
Name: 12 Angry Men (1957), dtype: float64

In [5]:
similarMovies=movieRatings.corrwith(AngryMen)
similarMovies=similarMovies.dropna()
df=pd.DataFrame(similarMovies)
df.head(10)

C:\Users\dell pc\Anaconda2\lib\site-packages\numpy\lib\function_base.py:2995: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\dell pc\Anaconda2\lib\site-packages\numpy\lib\function_base.py:2929: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

                                            0
title
'Til There Was You (1997)           -0.500000
101 Dalmatians (1996)               -0.049890
12 Angry Men (1957)                  1.000000
187 (1997)                           0.666667
2 Days in the Valley (1996)          0.256625
20,000 Leagues Under the Sea (1954)  0.274772
2001: A Space Odyssey (1968)         0.178848
39 Steps, The (1935)                 0.457176
8 1/2 (1963)                         0.635698
Above the Rim (1994)                 1.000000

In [6]:
similarMovies.sort_values(ascending=False)

title
Spirits of the Dead (Tre passi nel delirio) (1968)          1.000000
Jefferson in Paris (1995)                                   1.000000
Double Happiness (1994)                                     1.000000
Nina Takes a Lover (1994)                                   1.000000
Dream With the Fishes (1997)                                1.000000
Run of the Country, The (1995)                              1.000000
Screamers (1995)                                            1.000000
Pyromaniac's Love Story, A (1995)                           1.000000
FairyTale: A True Story (1997)                              1.000000
Stalker (1979)                                              1.000000
Bad Moon (1996)                                             1.000000
Surviving Picasso (1996)                                    1.000000
The Innocent (1994)                                         1.000000
Wonderful, Horrible Life of Leni Riefenstahl, The (1993)    1.000000
Replacement Killers, The (1998)                             1.000000
C'est arriv� pr�s de chez vous (1992)                       1.000000
American Dream (1990)                                       1.000000
Grace of My Heart (1996)                                    1.000000
Harlem (1993)                                               1.000000
Gridlock'd (1997)                                           1.000000
Dingo (1992)                                                1.000000
Booty Call (1997)                                           1.000000
Brother Minister: The Assassination of Malcolm X (1994)     1.000000
Cabin Boy (1994)                                            1.000000
unknown                                                     1.000000
Savage Nights (Nuits fauves, Les) (1992)                    1.000000
Scarlet Letter, The (1995)                                  1.000000
Schizopolis (1996)                                          1.000000
Solo (1996)                                                 1.000000
Angus (1995)                                                1.000000
                                                              ...
Grease 2 (1982)                                            -0.854850
Beautiful Thing (1996)                                     -0.866025
Inventing the Abbotts (1997)                               -0.866025
Two if by Sea (1996)                                       -0.866025
High School High (1996)                                    -0.866025
Free Willy 2: The Adventure Home (1995)                    -0.866025
Stupids, The (1996)                                        -0.870388
Career Girls (1997)                                        -0.886405
Larger Than Life (1996)                                    -1.000000
Steel (1997)                                               -1.000000
Man of No Importance, A (1994)                             -1.000000
Deep Rising (1998)                                         -1.000000
Awfully Big Adventure, An (1995)                           -1.000000
Gumby: The Movie (1995)                                    -1.000000
Dracula: Dead and Loving It (1995)                         -1.000000
Funeral, The (1996)                                        -1.000000
Slingshot, The (1993)                                      -1.000000
Daniel Defoe's Robinson Crusoe (1996)                      -1.000000
Safe Passage (1994)                                        -1.000000
Eye for an Eye (1996)                                      -1.000000
Outlaw, The (1943)                                         -1.000000
Neon Bible, The (1995)                                     -1.000000
Rent-a-Kid (1995)                                          -1.000000
Gone Fishin' (1997)                                        -1.000000
Children of the Corn: The Gathering (1996)                 -1.000000
Bio-Dome (1996)                                            -1.000000
House Arrest (1996)                                        -1.000000
Hellraiser: Bloodline (1996)                               -1.000000
For Richer or Poorer (1997)                                -1.000000
Heaven's Prisoners (1996)                                  -1.000000
Length: 1188, dtype: float64

In [18]:
movieStats=ratings.groupby('title').agg({'rating':[np.size,np.mean]})
movieStats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

In [30]:
popularMovies=movieStats['rating']['size']>=100
movieStats[popularMovies].sort_values([{'rating','mean'}],ascending=False)[:15]

TypeError: unhashable type: 'set'

In [24]:
df=movieStats[popularMovies].join(pd.DataFrame(similarMovies,columns=['similarity']))

C:\Users\dell pc\Anaconda2\lib\site-packages\pandas\core\reshape\merge.py:551: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [25]:
df.head()

                              (rating, size)  (rating, mean)  similarity
title
101 Dalmatians (1996)                    109        2.908257   -0.049890
12 Angry Men (1957)                      125        4.344000    1.000000
2001: A Space Odyssey (1968)             259        3.969112    0.178848
Absolute Power (1997)                    127        3.370079   -0.163455
Abyss, The (1989)                        151        3.589404    0.045374

In [29]:
df.sort_values(['similarity'],ascending=False)[:15]

,"(rating, size)","(rating, mean)",similarity
title,,,
12 Angry Men (1957),125,4.344000,1.000000
Ulee's Gold (1997),184,3.760870,0.619544
Rear Window (1954),209,4.387560,0.570513
Seven Years in Tibet (1997),155,3.458065,0.549939
Clerks (1994),148,3.804054,0.528173
Singin' in the Rain (1952),137,3.992701,0.520844
Vertigo (1958),179,4.251397,0.509460
Army of Darkness (1993),116,3.431034,0.477251
Mr. Smith Goes to Washington (1939),105,4.123810,0.470078
"First Wives Club, The (1996)",160,3.018750,0.466773
"Magnificent Seven, The (1954)",121,3.942149,0.463892
Good Will Hunting (1997),198,4.262626,0.463376
Beavis and Butt-head Do America (1996),156,2.788462,0.449292
"Manchurian Candidate, The (1962)",131,4.259542,0.424725
Like Water For Chocolate (Como agua para chocolate) (1992),148,3.804054,0.407507